*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@mixin display($d, $f-d, $a-c, $a-i, $j-c) {
    display: $d;
    flex-direction: $f-d;
    align-content: $a-c;
    align-items: $a-i;
    justify-content: $j-c;
}

@mixin text-formeting($p, $f-s, $f-w, $t-a, $t-c) {
    padding: $p;
    font-size: $f-s;
    font-weight: $f-w;
    text-align: $t-a;
    color: $t-c;
}

.d-show {
    display: block !important;
}

.d-none {
    display: none !important;
}

html,
body {
    width: 100vw;
    height: auto;
    @include display(flex, row, center, center, center);
}

.todo__app {
    @include text-formeting(25px, 0, 0, center, 0);
    background: cadetblue;
    border-radius: 15px;
    user-select: none;
    margin: 20vh;
    &__container {
        padding: 15px 0px;
        &__heading {
            @include text-formeting(0px 0px 20px 0px, 35px, 800, center, white);
        }
        &__from {
            width: 100%;
            height: auto;
            @include display(flex, row, center, center, space-between);
            @include text-formeting(5px 4px, 0, none, none, black);
            background: white;
            border-radius: 5px;
            transition: all 1s;
            input {
                width: 100%;
                border: none;
                outline: none;
                @include text-formeting(4px, 18px, none, none, none);
            }
            button {
                @include text-formeting(6px, none, none, none, white);
                border: none;
                outline: none;
                background: #484848;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
    }
    &__todo__list__container {
        &__list {
            background-color: white;
            border-radius: 6px;
            ul {
                list-style: none;
                @include text-formeting(0, 18px, 600, none, none);
                li {
                    width: 100%;
                    height: auto;
                    @include display(flex, row, center, center, space-between);
                    padding: 10px 10px 10px 8px;
                    border: 1px solid rgb(122, 122, 122);
                    .delete__btn {
                        img {
                            width: 26px;
                        }
                    }
                }
            }
        }
        &__clear__btn {
            @include text-formeting(6px, 21px, 700, center, white);
            margin: 10px;
            background: #404040;
            border-radius: 12px;
            box-shadow: 0px 0px 10px #404040;
            display: none;
        }
    }
}